<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

	<div class="container">
		<h2>사용자 등록</h2>

		<form id="frm" name="frm" method="post" action="/user/userInsert"
			enctype="multipart/form-data">
			<table class="board_detail">
				<tr>
					<td>아이디</td>
					<td>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="id" name="id"
								placeholder="name@example.com"> <label
								for="floatingInput">ID</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>패스워드</td>
					<td><div class="form-floating mb-3">
							<input type="text" class="form-control" id="pw" name="pw"
								placeholder="name@example.com"> <label
								for="floatingInput">Password </label>
						</div></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><div class="form-floating mb-3">
							<input type="text" class="form-control" id="name" name="name"
								placeholder="name@example.com"> <label
								for="floatingInput">Name </label>
						</div></td>
				</tr>
				<tr>
					<td>이메일</td>
					<td><div class="form-floating mb-3">
							<input type="text" class="form-control" id="email" name="email"
								placeholder="name@example.com"> <label
								for="floatingInput">Email address</label>
						</div></td>
				</tr>
				<tr>
					<td>권한</td>
					<td>
						<div class="form-floating mb-3">
							<select class="form-control" id="role" name="role">
								<option value="ROLE_ADMIN">관리자</option>
								<option value="ROLE_MEMBER">사용자</option>
							</select>
							<label
								for="floatingInput">Role</label>
						</div>
					</td>
				</tr>
			</table>
			<input type="file" name="files" multiple="multiple" required /> <input
				type="submit" id="submit" value="저장" class="btn" />
		</form>
	</div>

</div>
</html>


