<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

	<div class="container">
		<h2>사용자 목록</h2>
		<!-- 총 사용자는 <th th:text="${list.total()}"></th> -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>아이디</th>
					<th>패스워드</th>
					<th>이름</th>
					<th>이메일</th>
					<th>권한</th>
					<th>가입일</th>
					<th>썸네일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(list)} > 0" th:each="vo, i : ${list}" >
					<td><a href="/user/userDetail/" th:attrappend="href=${vo.id}"
						th:text='${vo.id}'></a> <!-- <a th:href = "@{/user/userDetail/{id}(${vo.id})}" th:text='${vo.id}'></a> -->
						<!--  <a th:href = "@{/user/userDetail/(id=${vo.id})}"></a> --></td>
					<!-- 제목을 누르면 detail로 이동하게 -->
					<td th:text='${vo.pw}'></td>
					<td th:text='${vo.name}'></td>
					<td th:text='${vo.email}'></td>
					<td th:text='${vo.role}'></td>
					<td th:text='${vo.joinDate}'></td>
					<td th:each= "dto, state : ${file}" th:if="${dto.userid == vo.id}">
							<img th:src="${dto.storedFilePath}" height="50px" />
					</td>
				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="5">조회된 결과가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item"
					th:classappend="${1 == list.pageable.pageNumber + 1} ? 'disabled'">
					<a class="page-link" href="#"
					th:href="@{/user/userList(page=${list.pageable.pageNumber - 1},searchText=${param.searchText})}"
					tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				<li class="page-item"
					th:classappend="${i == list.pageable.pageNumber + 1} ? 'disabled'"
					th:each="i : ${#numbers.sequence(startpage, endpage)}"><a
					class="page-link" href="#"
					th:href="@{/user/userList(page=${i - 1}, searchText = ${param.searchText})}"
					th:text="${i}">1</a></li>
				<li class="page-item"
					th:classappend="${list.totalPages == list.pageable.pageNumber + 1} ? 'disabled'">
					<a class="page-link" href="#"
					th:href="@{/user/userList(page=${list.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
				</li>
			</ul>
		</nav>
		<!-- 나는 버튼에 href를 넣음 교수님은 a태그로 '사용자 추가'에 넣음  -->
		<button type="button" class="btn btn-outline-primary">
			<a href="/user/userInsert">사용자 추가</a>
		</button>

	</div>

</div>
</html>
